.popup {
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, .6);
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s linear, visibility .2s linear;
}
