.profile__edit-button {
  background: url(../../../images/edit.svg) center no-repeat;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: 1px solid #fff;
  display: flex;
  grid-row-start: 1;
  grid-column-start: 2;
  align-self: center;
  font-size: 0;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (min-width: 600px) {
  .profile__edit-button {
    width: 24px;
    height: 24px;
    margin-top: 7px;
    background: url(../../../images/edit_big.svg) center no-repeat;
  }
}
