.popup__submit-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  background: #000;
  max-width: 100%;
  padding: 14px 82px;
  margin: 15px 0 0;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  border: 1px solid #000;
  transition: opacity .3s ease-in-out;
}

.popup__submit-button:hover {
  opacity: .8;
}

@media screen and (min-width: 600px) {
  .popup__submit-button {
    margin-top: 18px;
    font-size: 18px;
    line-height: 22px;
  }
}