.header__logo {
  width: 104px;
  height: 24px;
  object-fit: cover;
  padding: 0 0 27px 27px;
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  .header__logo {
    width: 142px;
    height: 33px;
    padding-bottom: 36px;
  }
}

@media screen and (min-width: 900px) {
  .header__logo {
    width: 142px;
    height: 33px;
    padding: 0 0 36px;
  }
}
