.header {
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  max-width: 880px;
  padding-top: 28px;
}

@media screen and (min-width: 612px) {
  .header {
    padding-top: 45px;
  }
}


