.popup__heading {
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 75px;
}

@media screen and (min-width: 600px) {
  .popup__heading {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 54px;
  }
}
