.profile__add-button {
  background: url(../../../images/add-button.svg) center no-repeat;
  min-width: 282px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 2px;
  display: flex;
  font-size: 0;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (min-width: 600px) {
  .profile__add-button {
    min-width: 150px;
    background: url(../../../images/add-button_big.svg) center no-repeat;
  }
}
