.popup__close-button {
  background: url(../../../images/close-button.svg) center no-repeat;
  border: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -36px;
  right: 0;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.popup__close-button:hover {
  opacity: .6;
}

@media screen and (min-width: 600px) {
  .popup__close-button {
    background: url(../../../images/close-button_big.svg) center no-repeat;
    width: 32px;
    height: 32px;
    top: -50px;
    right: -30px;
  }
}
