.footer {
  color: #545454;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  max-width: 100%;
  margin: 48px 19px 36px;
}

@media screen and (min-width: 600px) {
  .footer {
    font-size: 18px;
    line-height: 22px;
    margin: 67px 19px 60px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    max-width: 880px;
    margin-left: 70px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    max-width: 880px;
    margin-left: 200px;
  }
}
